DeviceAdministration/infrastructure.Connectivity/Web References/com.jasperwireless.spark.terminal/Terminal.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.jasperwireless.com/ws/schema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://api.jasperwireless.com/ws/schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               attributeFormDefault="unqualified" elementFormDefault="qualified"
               xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"
               xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="JasperAPI.xsd" namespace="http://api.jasperwireless.com/ws/schema" />
    </xs:schema>
  </types>
  <message name="EditTerminalRequest">
    <part name="body" element="jws:EditTerminalRequest" />
  </message>
  <message name="EditTerminalResponse">
    <part name="body" element="jws:EditTerminalResponse" />
  </message>
  <message name="EditTerminalRatingRequest">
    <part name="body" element="jws:EditTerminalRatingRequest" />
  </message>
  <message name="EditTerminalRatingResponse">
    <part name="body" element="jws:EditTerminalRatingResponse" />
  </message>
  <message name="GetTerminalDetailsRequest">
    <part name="body" element="jws:GetTerminalDetailsRequest" />
  </message>
  <message name="GetTerminalDetailsResponse">
    <part name="body" element="jws:GetTerminalDetailsResponse" />
  </message>
  <message name="GetLinePayStatusByOpAcctIdRequest">
    <part name="body" element="jws:GetLinePayStatusByOpAcctIdRequest" />
  </message>
  <message name="GetLinePayStatusByOpAcctIdResponse">
    <part name="body" element="jws:GetLinePayStatusByOpAcctIdResponse" />
  </message>
  <message name="EditLinePayStatusRequest">
    <part name="body" element="jws:EditLinePayStatusRequest" />
  </message>
  <message name="EditLinePayStatusResponse">
    <part name="body" element="jws:EditLinePayStatusResponse" />
  </message>
  <message name="EditLinePayStatusPerAcctRequest">
    <part name="body" element="jws:EditLinePayStatusPerAcctRequest" />
  </message>
  <message name="EditLinePayStatusPerAcctResponse">
    <part name="body" element="jws:EditLinePayStatusPerAcctResponse" />
  </message>
  <message name="TransferTerminalAccountNoSimStatusRequest">
    <part name="body" element="jws:TransferTerminalAccountNoSimStatusRequest" />
  </message>
  <message name="TransferTerminalAccountNoSimStatusResponse">
    <part name="body" element="jws:TransferTerminalAccountNoSimStatusResponse" />
  </message>
  <message name="GetTerminalRatingRequest">
    <part name="body" element="jws:GetTerminalRatingRequest" />
  </message>
  <message name="GetTerminalRatingResponse">
    <part name="body" element="jws:GetTerminalRatingResponse" />
  </message>
  <message name="QueueTerminalRatePlanRequest">
    <part name="body" element="jws:QueueTerminalRatePlanRequest" />
  </message>
  <message name="QueueTerminalRatePlanResponse">
    <part name="body" element="jws:QueueTerminalRatePlanResponse" />
  </message>
  <message name="RemoveRatePlanFromQueueRequest">
    <part name="body" element="jws:RemoveRatePlanFromQueueRequest" />
  </message>
  <message name="RemoveRatePlanFromQueueResponse">
    <part name="body" element="jws:RemoveRatePlanFromQueueResponse" />
  </message>
  <message name="GetModifiedTerminalsRequest">
    <part name="body" element="jws:GetModifiedTerminalsRequest" />
  </message>
  <message name="GetModifiedTerminalsResponse">
    <part name="body" element="jws:GetModifiedTerminalsResponse" />
  </message>
  <message name="GetTerminalsBySecureSimIdRequest">
    <part name="body" element="jws:GetTerminalsBySecureSimIdRequest" />
  </message>
  <message name="GetTerminalsBySecureSimIdResponse">
    <part name="body" element="jws:GetTerminalsBySecureSimIdResponse" />
  </message>
  <message name="GetSessionInfoRequest">
    <part name="body" element="jws:GetSessionInfoRequest" />
  </message>
  <message name="GetSessionInfoResponse">
    <part name="body" element="jws:GetSessionInfoResponse" />
  </message>
  <message name="GetTerminalsByMsisdnRequest">
    <part name="body" element="jws:GetTerminalsByMsisdnRequest" />
  </message>
  <message name="GetTerminalsByMsisdnResponse">
    <part name="body" element="jws:GetTerminalsByMsisdnResponse" />
  </message>
  <message name="GetTerminalsByImsiRequest">
    <part name="body" element="jws:GetTerminalsByImsiRequest" />
  </message>
  <message name="GetTerminalsByImsiResponse">
    <part name="body" element="jws:GetTerminalsByImsiResponse" />
  </message>
  <message name="SimRmaExchangeRequest">
    <part name="body" element="jws:SimRmaExchangeRequest" />
  </message>
  <message name="SimRmaExchangeResponse">
    <part name="body" element="jws:SimRmaExchangeResponse" />
  </message>
  <message name="UpdateSecureSimCredentialsRequest">
    <part name="body" element="jws:UpdateSecureSimCredentialsRequest" />
  </message>
  <message name="UpdateSecureSimCredentialsResponse">
    <part name="body" element="jws:UpdateSecureSimCredentialsResponse" />
  </message>
  <message name="TransferSimsToAccountRequest">
    <part name="body" element="jws:TransferSimsToAccountRequest" />
  </message>
  <message name="TransferSimsToAccountResponse">
    <part name="body" element="jws:TransferSimsToAccountResponse" />
  </message>
  <message name="TransferTrialSimsToAccountRequest">
    <part name="body" element="jws:TransferTrialSimsToAccountRequest" />
  </message>
  <message name="TransferTrialSimsToAccountResponse">
    <part name="body" element="jws:TransferTrialSimsToAccountResponse" />
  </message>
  <message name="AssignOrUpdateIPAddressRequest">
    <part name="body" element="jws:AssignOrUpdateIPAddressRequest" />
  </message>
  <message name="AssignOrUpdateIPAddressResponse">
    <part name="body" element="jws:AssignOrUpdateIPAddressResponse" />
  </message>
  <message name="GetTerminalLatestRegistrationRequest">
    <part name="body" element="jws:GetTerminalLatestRegistrationRequest" />
  </message>
  <message name="GetTerminalLatestRegistrationResponse">
    <part name="body" element="jws:GetTerminalLatestRegistrationResponse" />
  </message>
  <message name="GetTerminalLatestNetworkRegistrationRequest">
    <part name="body" element="jws:GetTerminalLatestNetworkRegistrationRequest" />
  </message>
  <message name="GetTerminalLatestNetworkRegistrationResponse">
    <part name="body" element="jws:GetTerminalLatestNetworkRegistrationResponse" />
  </message>
  <message name="GetTerminalAuditTrailRequest">
    <part name="body" element="jws:GetTerminalAuditTrailRequest" />
  </message>
  <message name="GetTerminalAuditTrailResponse">
    <part name="body" element="jws:GetTerminalAuditTrailResponse" />
  </message>
  <message name="SendCancelLocationRequest">
    <part name="body" element="jws:SendCancelLocationRequest" />
  </message>
  <message name="SendCancelLocationResponse">
    <part name="body" element="jws:SendCancelLocationResponse" />
  </message>
  <portType name="TerminalPortType">
    <operation name="EditTerminal">
      <input message="jws:EditTerminalRequest" />
      <output message="jws:EditTerminalResponse" />
    </operation>
    <operation name="EditTerminalRating">
      <input message="jws:EditTerminalRatingRequest" />
      <output message="jws:EditTerminalRatingResponse" />
    </operation>
    <operation name="GetTerminalDetails">
      <input message="jws:GetTerminalDetailsRequest" />
      <output message="jws:GetTerminalDetailsResponse" />
    </operation>
    <operation name="GetLinePayStatusByOpAcctId">
      <input message="jws:GetLinePayStatusByOpAcctIdRequest" />
      <output message="jws:GetLinePayStatusByOpAcctIdResponse" />
    </operation>
    <operation name="EditLinePayStatus">
      <input message="jws:EditLinePayStatusRequest" />
      <output message="jws:EditLinePayStatusResponse" />
    </operation>
    <operation name="EditLinePayStatusPerAcct">
      <input message="jws:EditLinePayStatusPerAcctRequest" />
      <output message="jws:EditLinePayStatusPerAcctResponse" />
    </operation>
    <operation name="TransferTerminalAccountNoSimStatus">
      <input message="jws:TransferTerminalAccountNoSimStatusRequest" />
      <output message="jws:TransferTerminalAccountNoSimStatusResponse" />
    </operation>
    <operation name="GetTerminalRating">
      <input message="jws:GetTerminalRatingRequest" />
      <output message="jws:GetTerminalRatingResponse" />
    </operation>
    <operation name="QueueTerminalRatePlan">
      <input message="jws:QueueTerminalRatePlanRequest" />
      <output message="jws:QueueTerminalRatePlanResponse" />
    </operation>
    <operation name="RemoveRatePlanFromQueue">
      <input message="jws:RemoveRatePlanFromQueueRequest" />
      <output message="jws:RemoveRatePlanFromQueueResponse" />
    </operation>
    <operation name="GetModifiedTerminals">
      <input message="jws:GetModifiedTerminalsRequest" />
      <output message="jws:GetModifiedTerminalsResponse" />
    </operation>
    <operation name="GetTerminalsBySecureSimId">
      <input message="jws:GetTerminalsBySecureSimIdRequest" />
      <output message="jws:GetTerminalsBySecureSimIdResponse" />
    </operation>
    <operation name="GetSessionInfo">
      <input message="jws:GetSessionInfoRequest" />
      <output message="jws:GetSessionInfoResponse" />
    </operation>
    <operation name="GetTerminalsByMsisdn">
      <input message="jws:GetTerminalsByMsisdnRequest" />
      <output message="jws:GetTerminalsByMsisdnResponse" />
    </operation>
    <operation name="GetTerminalsByImsi">
      <input message="jws:GetTerminalsByImsiRequest" />
      <output message="jws:GetTerminalsByImsiResponse" />
    </operation>
    <operation name="SimRmaExchange">
      <input message="jws:SimRmaExchangeRequest" />
      <output message="jws:SimRmaExchangeResponse" />
    </operation>
    <operation name="UpdateSecureSimCredentials">
      <input message="jws:UpdateSecureSimCredentialsRequest" />
      <output message="jws:UpdateSecureSimCredentialsResponse" />
    </operation>
    <operation name="TransferSimsToAccount">
      <input message="jws:TransferSimsToAccountRequest" />
      <output message="jws:TransferSimsToAccountResponse" />
    </operation>
    <operation name="TransferTrialSimsToAccount">
      <input message="jws:TransferTrialSimsToAccountRequest" />
      <output message="jws:TransferTrialSimsToAccountResponse" />
    </operation>
    <operation name="AssignOrUpdateIPAddress">
      <input message="jws:AssignOrUpdateIPAddressRequest" />
      <output message="jws:AssignOrUpdateIPAddressResponse" />
    </operation>
    <operation name="GetTerminalLatestRegistration">
      <input message="jws:GetTerminalLatestRegistrationRequest" />
      <output message="jws:GetTerminalLatestRegistrationResponse" />
    </operation>
    <operation name="GetTerminalLatestNetworkRegistration">
      <input message="jws:GetTerminalLatestNetworkRegistrationRequest" />
      <output message="jws:GetTerminalLatestNetworkRegistrationResponse" />
    </operation>
    <operation name="GetTerminalAuditTrail">
      <input message="jws:GetTerminalAuditTrailRequest" />
      <output message="jws:GetTerminalAuditTrailResponse" />
    </operation>
    <operation name="SendCancelLocation">
      <input message="jws:SendCancelLocationRequest" />
      <output message="jws:SendCancelLocationResponse" />
    </operation>
  </portType>
  <binding name="TerminalBinding" type="jws:TerminalPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="EditTerminal">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/EditTerminal" />
      <input name="EditTerminalRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="EditTerminalResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="EditTerminalRating">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/EditTerminalRating" />
      <input name="EditTerminalRatingRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="EditTerminalRatingResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalDetails">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalDetails" />
      <input name="GetTerminalDetailsRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalDetailsResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetLinePayStatusByOpAcctId">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetLinePayStatusByOpAcctId" />
      <input name="GetLinePayStatusByOpAcctIdRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetLinePayStatusByOpAcctIdResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="EditLinePayStatus">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/EditLinePayStatus" />
      <input name="EditLinePayStatusRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="EditLinePayStatusResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="EditLinePayStatusPerAcct">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/EditLinePayStatusPerAcct" />
      <input name="EditLinePayStatusPerAcctRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="EditLinePayStatusPerAcctResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="TransferTerminalAccountNoSimStatus">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/TransferTerminalAccountNoSimStatus" />
      <input name="TransferTerminalAccountNoSimStatusRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="TransferTerminalAccountNoSimStatusResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalRating">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalRating" />
      <input name="GetTerminalRatingRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalRatingResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="QueueTerminalRatePlan">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/QueueTerminalRatePlan" />
      <input name="QueueTerminalRatePlanRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="QueueTerminalRatePlanResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="RemoveRatePlanFromQueue">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/RemoveRatePlanFromQueue" />
      <input name="RemoveRatePlanFromQueueRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="RemoveRatePlanFromQueueResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetModifiedTerminals">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetModifiedTerminals" />
      <input name="GetModifiedTerminalsRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetModifiedTerminalsResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalsBySecureSimId">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalsBySecureSimId" />
      <input name="GetTerminalsBySecureSimIdRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalsBySecureSimIdResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetSessionInfo">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetSessionInfo" />
      <input name="GetSessionInfoRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetSessionInfoResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalsByMsisdn">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalsByMsisdn" />
      <input name="GetTerminalsByMsisdnRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalsByMsisdnResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalsByImsi">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalsByImsi" />
      <input name="GetTerminalsByImsiRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalsByImsiResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="SimRmaExchange">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/SimRmaExchange" />
      <input name="SimRmaExchangeRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="SimRmaExchangeResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="UpdateSecureSimCredentials">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/UpdateSecureSimCredentials" />
      <input name="UpdateSecureSimCredentialsRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="UpdateSecureSimCredentialsResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="TransferSimsToAccount">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/TransferSimsToAccount" />
      <input name="TransferSimsToAccountRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="TransferSimsToAccountResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="TransferTrialSimsToAccount">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/TransferTrialSimsToAccount" />
      <input name="TransferTrialSimsToAccountRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="TransferTrialSimsToAccountResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="AssignOrUpdateIPAddress">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/AssignOrUpdateIPAddress" />
      <input name="AssignOrUpdateIPAddressRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="AssignOrUpdateIPAddressResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalLatestRegistration">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalLatestRegistration" />
      <input name="GetTerminalLatestRegistrationRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalLatestRegistrationResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalLatestNetworkRegistration">
      <soap:operation
        soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalLatestNetworkRegistration" />
      <input name="GetTerminalLatestNetworkRegistrationRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalLatestNetworkRegistrationResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="GetTerminalAuditTrail">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/GetTerminalAuditTrail" />
      <input name="GetTerminalAuditTrailRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="GetTerminalAuditTrailResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
    <operation name="SendCancelLocation">
      <soap:operation soapAction="http://api.jasperwireless.com/ws/service/terminal/SendCancelLocation" />
      <input name="SendCancelLocationRequest">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </input>
      <output name="SendCancelLocationResponse">
        <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema" />
      </output>
    </operation>
  </binding>
  <service name="TerminalService">
    <port name="TerminalPort" binding="jws:TerminalBinding">
      <soap:address location="https://api7.jasperwireless.com/ws/service/terminal" />
    </port>
  </service>
</definitions>