EricssonConsoleApiTester/Service References/RealtimeTrace/RealtimeTrace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.dcp.ericsson.net/RealtimeTrace" name="RealtimeTrace" targetNamespace="http://api.dcp.ericsson.net/RealtimeTrace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.dcp.ericsson.net/RealtimeTrace">
      <xsd:element name="Query">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="customerno" type="xsd:string" />
            <xsd:element minOccurs="1" name="traceLength" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="filter" type="tns:Filter" />
            <xsd:any minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="traceData" type="tns:TraceData" />
            <xsd:any minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ResourceFilter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="resourceType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="resourceId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="range" type="xsd:int" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EventFilter">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="countryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xsd:string" />
          <xsd:element minOccurs="1" name="eventList" type="tns:Events" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Filter">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resourceFilter" type="tns:ResourceFilter" />
          <xsd:element minOccurs="0" name="eventFilter" type="tns:EventFilter" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TraceData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="timeStamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="imsi" type="xsd:string" />
          <xsd:element minOccurs="0" name="originatingMsisdn" type="xsd:string" />
          <xsd:element minOccurs="0" name="terminatingMsisdn" type="xsd:string" />
          <xsd:element minOccurs="0" name="event" type="xsd:string" />
          <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="operatorCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="hlrgt" type="xsd:string" />
          <xsd:element minOccurs="0" name="vlrgt" type="xsd:string" />
          <xsd:element minOccurs="0" name="ggsnip" type="xsd:string" />
          <xsd:element minOccurs="0" name="sgsnip" type="xsd:string" />
          <xsd:element minOccurs="0" name="gtpCause" type="xsd:int" />
          <xsd:element minOccurs="0" name="gprsTeid" type="xsd:string" />
          <xsd:element minOccurs="0" name="smsReport" type="xsd:string" />
          <xsd:element minOccurs="0" name="mapStatus" type="xsd:string" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Events">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="event" type="xsd:string" />
          <xsd:any minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="queryResponse">
    <wsdl:part name="queryResponse" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part name="query" element="tns:Query" />
  </wsdl:message>
  <wsdl:portType name="RealtimeTrace">
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest" />
      <wsdl:output message="tns:queryResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RealtimeTraceBinding" type="tns:RealtimeTrace">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="query">
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealtimeTraceService">
    <wsdl:port name="RealtimeTracePort" binding="tns:RealtimeTraceBinding">
      <soap:address location="https://serviceportal.telenorconnexion.com/dcpapi/RealtimeTrace" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>